body, h3 {
  margin: unset;
}

h1 {
  padding: 4rem 0 2rem 0;
  font-size: 32px;
  color: #000;
}

h1:hover {
  font-family: 'Creepster', serif;
  letter-spacing: 8px;
  padding: 3.6rem 0 2rem 0;
  font-size: 32px;
}

.container__name {
  color: white;
  margin: 1rem;
}

.container__name:hover {
  background: none;
  color: red;
  font-family: 'Creepster', serif;
  font-size: 25px;
  letter-spacing: 5px;
  line-height: 18px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.App {
    font-family: sans-serif;
    text-align: center;
    background-color: rgb(87, 84, 84);
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    margin-top: -2rem;
  }

input {
  height: 29px;
    width: 250px;
    font-size: 14px;
    text-indent: 5px;
    border: 2px solid #060606;
    font-family: 'Josefin Sans', sans-serif;
    margin: 1rem 0 2rem 0;
    border-radius: 4px;
}

.container {
  padding: 2rem 1rem;
  cursor: pointer;
}
.container__image {
  border: 3px solid black;
}

.container__info {
  padding: 1rem 1rem 1.5rem 1rem;
  cursor: pointer;
  position: relative;
}

button {
  background-color: #5e5e5e;
  border: 2px solid #000000;
  padding: 0.8rem;
  border-radius: 0.3px;
  margin: 2rem 1rem;
  font-family: unset;
  cursor: pointer;
  font-size: 15px;
}

.footer {
  height: 4rem;
  background-color: #282727;
  padding: 2rem 0 1rem 0;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 180px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 7px;
  padding: 8px 0 8px 15px;
  top: 0px;
  position: absolute;
  z-index: 1;
  text-align: left;
  line-height: 24px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.error {
  padding: 5rem;
}
